# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\a_test\git-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
